.footer {
  color: #fff;
  padding: 96px 135px 0;
  background: #181821;
}

.footer .row {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.footer .row .column {
  width: 21.6%;
}
.footer .row .column:first-child {
  width: 35%;
}

.footer .footer-icon {
  width: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.footer .desc {
  margin-top: 18px;
  max-width: 267px;
  font-weight: 400;
  line-height: 185.714%;
}
.footer .socials {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.footer .title {
  display: inline-block;
  padding-bottom: 14px;
  padding-right: 48px;
  border-bottom: 1px solid #59554b;
  font-size: 1.6rem;
  font-weight: 600;
}

.footer .list {
  margin-top: 28px;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.footer .list li:last-child a {
  margin-bottom: 0;
}

.list strong {
  font-weight: 600;
}

.footer .copyright {
  padding: 28px 0;
}

.copyright p {
  color: #807d74;
  font-size: 1.4rem;
  text-align: center;
}
