/* CSS Base */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto";
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0 16px;
  display: inline-block;
  min-width: 135px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 50px;
  text-align: center;
  color: #fff;
  border-radius: 24.5px;
  background: linear-gradient(to top right, #fd267a, #ff6036);
}

.btn:hover {
  background: linear-gradient(to top right, #fd267a, #dea4ff);
}
